body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
}

.container > h1 {
  margin-bottom: 1rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.container > a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .container > h1 {
    font-size: 3rem;
  }

  .container > a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .container > h1 {
    font-size: 6rem;
  }

  .container > a {
    font-size: 2rem;
  }
}
